
.edit-form-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Allow the container to expand based on content */
    background-color: #c1d1a7;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px; /* Set a maximum width for the container */
    margin: 100px auto 0; 
  }
  
  /* Form heading style */
  .edit-form-heading {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form styles */
  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 300px;
  }
  
  /* Form input field style */
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
  }
  
  /* Form label style */
  .form-label {
    font-size: 19px;
    font-weight: bold;
  }
  
  /* Form button styles */
  .form-button {
    padding: 10px 15px;
  
    background-color: #7ec4d6;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  /* Error message style */
  .error-message {
    color: #ff0000;
    font-size: 16px;
    text-align: center;
  }
  
  /* Success message style */
  .success-message {
    color: #ffffff;
    background-color: #66db43b2;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }
  

  @media screen and (max-width: 768px) {
    
    .edit-form-container {
      padding: 10px;
    }
  
    .edit-form {
      max-width: 100%;
    }
  }
  