/* Home.css */


 .h1-headers{

    margin-top: 30px;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #79AC78;
    
 }
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
  }
  
  .nav-item {
    text-align: center;
    text-decoration: rgb(196, 180, 156);
    color: #86b85e; 
    margin: 0 20px;
    transition: all 0.4s ease;
    
  }
  .nav-item:hover {
    text-decoration: none;
    color: rgb(196, 111, 8);
    transform: translateY(-5px);
  }
  /* Add border and border radius to the rounded container */
  .rounded-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(143, 170, 99); 
    border-radius: 15px; 
    padding: 10px; 

  }
  
  .rounded-image {
    width: 450px; 
    height: auto; 
    
  }
  
 
  .rounded-container .big-text {
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }