.user-profile-container {
    background-color: #ffffff;
    padding: 20px;
  }
  

  .user-info{
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(126, 139, 5, 0.466);
    margin-top: 60px; 
    max-width: 1100px; /* Limit the maximum width */
    background-color: #96C291;
    animation: fadeIn 1s ease forwards; /* Apply the animation */
  }
  
  .h1-headers-profile{
    margin-top: 30px;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f8f8f8
  }
  .user-name {
    font-size: 45px;
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
  }

  .user-name:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  
  .favorite-pets-heading {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fdfdfd;
    padding: 10px;
    background-color: #b6dfb6;
    border-radius: 20px;
    max-width: 850px;
    animation: fadeIn 2s ease forwards;
  }

  .favorite-pet-message {
    font-size: 30px;
    text-align: center;
    margin: 100px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-radius: 10px;
    background-color: #c0b844;
    min-width: 300px;
    padding: 10px;
    margin-left: 830px;
    animation: fadeIn 3s ease forwards;
    color:#ffffff
  }
  
  .save-message-profile{
  max-width: 300px;
  margin: 0 auto;
  background-color: #c1c957;
  color: #fff; 
  padding: 10px ;
  border-radius: 80px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px; 
  text-align: center; 
  }

  .favorite-pets-list {
 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); 
  gap: 20px; 
  max-width: 2000px; 
  margin: 0 auto; 
  padding: 20px;
  justify-content: flex-start;
  animation: fadeIn 2s ease forwards; 
  }
  
  .favorite-pet-card {
    background-color: #b4ec864b;
    border: 1px solid #d1dfcc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(126, 139, 5, 0.466);
    transition: transform 0.2s;
  }
  

  
  
  .favorite-pet-card:hover {
    transform: translateY(-5px);
  }
  
  .pet-image {
    max-width: 250px;
    max-height: 300px ; 
    border-radius: 5px;
    margin-bottom: 2px; 
  }
  
  .pet-name {
    font-size: 22px; 
    margin-bottom: 18px; 
    color: #2b2a2a;
  }
  
  .pet-description {
    font-size: 15px;
    color: #160b0b;
    margin: 15px;
    font-family: monospace;
  }
  
  